@import "./tailwind.css";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  @apply bg-gray-100 text-black-1;
}
#__nuxt {
  min-height: 100vh;
}
.title{
  @apply text-3xl bg-white shadow px-10 py-8 font-semibold;
}